name: Build Development

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: 5.3.0
        dune-cache: true

    - name: Add opam repositories
      run: |
        opam repo add rocq-released https://rocq-prover.github.io/opam/released/
        opam repo add iris-dev https://gitlab.mpi-sws.org/iris/opam.git
        opam update

    - name: Install dependencies
      run: opam install . --deps-only

    - name: Compile & Test
      run: |
        eval $(opam env)
        make -j $(nproc)
